html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  min-width: 1366px;
  background: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%) no-repeat top center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  line-height: 20.8px;
  color: #ffffff; }

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

a {
  text-decoration: none;
  color: #ffffff; }

.main-header {
  flex: 0 0 auto;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%; }

.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  margin: auto; }

button:hover {
  background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  color: #ffffff;
  cursor: pointer; }

input:hover {
  cursor: pointer; }

.main-footer {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  justify-content: center; }

.main-footer a {
  align-self: center;
  padding-left: 10px; }

.darken {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  z-index: -1; }

.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

figure {
  margin: 0.5em;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s; }

figcaption {
  font-size: 19.2px;
  text-align: center;
  margin-bottom: 0.25em;
  color: #ffffff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.4); }

img {
  max-width: 80%;
  max-height: 80vh;
  cursor: pointer; }

.opacity {
  margin: 0;
  width: auto;
  position: absolute;
  opacity: 0; }

.hidden {
  display: none; }

.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  background: none;
  border: none;
  outline: none;
  /*filter: invert();*/ }

.left {
  left: 2em; }

.right {
  right: 2em; }

.close {
  top: 2em;
  right: 1em; }

@media (min-width: 320px) and (max-width: 480px) {
  body {
    min-width: 320px;
    max-width: 480px; } }
@media (min-width: 481px) and (max-width: 768px) {
  body {
    min-width: 481px;
    max-width: 768px; } }
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    min-width: 769px;
    max-width: 1024px; } }
.dot-windmill {
  position: relative;
  top: -10px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  transform-origin: 5px 15px;
  animation: dot-windmill 2s infinite linear; }

.dot-windmill::before, .dot-windmill::after {
  content: '';
  display: inline-block;
  position: absolute; }

.dot-windmill::before {
  left: -8.66px;
  top: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff; }

.dot-windmill::after {
  left: 8.66px;
  top: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff; }

@keyframes dot-windmill {
  0% {
    transform: rotateZ(0deg) translate3d(0, 0, 0); }
  100% {
    transform: rotateZ(720deg) translate3d(0, 0, 0); } }

/*# sourceMappingURL=styles.css.map */
