$dark: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
$text-color: #ffffff;
$font-size: 16px;

@mixin main-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin container-flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@mixin links-tag{
    text-decoration: none;
    color: $text-color;
}

@mixin margin-auto {
    margin: auto;
}

@mixin btn-gradient {
    background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    color: $text-color;
    cursor: pointer;
}

@mixin media($min-width, $max-width) {
    body {
       min-width: $min-width;
       max-width: $max-width;
    }
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto

}

body{
    min-width: 1366px;
    background: $dark no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-origin: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: $font-size;
    line-height: $font-size * 1.3;
    color: $text-color;
}

body{
    @include main-flex;
}

a {
    @include links-tag;
}

.main-header {
    flex: 0 0 auto;
    margin-top: 15px;
    @include container-flex;
}

.main {
    flex: 1 0 auto;
    @include main-flex;
    justify-content: center;
    @include margin-auto;
}

button:hover {
    @include btn-gradient;
}

input:hover {
    cursor: pointer;
}

.main-footer {
    flex-shrink: 0;
    @include container-flex;
    justify-content: center;
}

.main-footer a{
    align-self: center;
    padding-left: 10px;
}

.darken {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    z-index: -1;
}

.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

figure {
    margin: 0.5em;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

figcaption {
    font-size: $font-size * 1.2;
    text-align: center;
    margin-bottom: 0.25em;
    color: $text-color;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

img {
    max-width: 80%;
    max-height: 80vh;
    cursor: pointer;
}

.hidden {
    display: none;
}

.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    background: none;
    border: none;
    outline: none;
    filter: invert(1);
}

.left-button {
    left: 2em;
    width: 80px;
    height: 80px;
}

.right-button {
    right: 2em;
    width: 80px;
    height: 80px;
}

.close-button {
    top: 4em;
    right: 2em;
    width: 120px;
    height: 120px;
}

@media (min-width:320px) and (max-width:480px) {
    @include media(320px, 480px);

    .left-button {
        left: 0.05em;
        width: 45px;
        height: 30px;
    }
    
    .right-button {
        right: 0.05em;
        width: 45px;
        height: 30px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    @include media(481px, 768px);

    .left-button {
        left: 0.05em;
        width: 45px;
        height: 30px;
    }
    
    .right-button {
        right: 0.05em;
        width: 45px;
        height: 30px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    @include media(769px, 1024px);

    .left-button {
        left: 0.05em;
        width: 65px;
        height: 30px;
    }
    
    .right-button {
        right: 0.05em;
        width: 65px;
        height: 30px;
    }
}

.dot-windmill {
    position: relative;
    top: -10px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    transform-origin: 5px 15px;
    animation: dot-windmill 2s infinite linear;
  }
  
  .dot-windmill::before, .dot-windmill::after {
    content: '';
    display: inline-block;
    position: absolute;
  }
  
  .dot-windmill::before {
    left: -8.66px;
    top: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
  }
  
  .dot-windmill::after {
    left: 8.66px;
    top: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
  }
  
  @keyframes dot-windmill {
    0% {
      transform: rotateZ(0deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotateZ(720deg) translate3d(0, 0, 0);
    }
  }